body{
    font-family: 'Roboto', sans-serif;
    background-image: url(./img/Background.jpg);
    background-size: 100%;
}

.container{
    text-align: center;
    margin-top: 50px;
}

.botao{
    margin-top: 20px;
    padding: 5px 10px;
    border-radius: 8px;
    font-size: 15px;
    border: none;
    background-color:honeydew;
    font-weight: bold;
    transition: 1s all;
    text-transform: uppercase;
}

.botao:hover{
    background-color: darkorange;
    scale: 1.1;
}

.input{
    padding: 5px 10px;
    border-radius: 8px;
    width: 5%;
    text-align: center;
}